body
{
    background-color: #161616;
    margin: 0 !important;
    font-family: 'Barlow Condensed', sans-serif;
}

nav
{
    background-color: #242935;
    width: 100%;
    top: 0;
    position: sticky;
    text-align: center;
    color: #fff;
    font-size: 20pt;
    font-family: 'Saira Condensed', sans-serif;
    display: flex;
    justify-content: center;
    max-height: 60px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav li
{
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    padding: 10px;
    position: relative;
}

nav a, nav a:active, nav a:visited
{
    text-decoration: none;
    color: #fff;
    max-height: 60px;
    position: relative;
}

nav li:hover
{
    background-color: #50596d;
    position: relative;
    transition: 2s;
    cursor: pointer;
    border-radius: 10px;
}

.menuBtn 
{
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
  display: none;
}


/* responsive navbar */

@media screen and (max-width: 600px) {
  .menuBtn {
    display: flex;
    margin-right: 20px;
  }

  .menuBtn:hover
  {
    color: #99a0da;
    transition: 0.5s;
  }

  nav {
    justify-content: right;
  }

  nav .navLinks {
    display: none;
  }

  .sideNav {
    display: block !important;
  }

  main article, article, article.page-article
  {
    width: 90%  !important;
  }

  header .title, .page-content .title
  {
    font-size: 2.5em !important;
  }
} 

.sideNav
{
  height: 100%;
  position: fixed;
  top: 0;
  right: 0%;
  background-color: rgba(29,32,41, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
  display: block;
  padding-top: 60px;
  display: none;
}

.sideNav a {
  padding: 8px 8px 8px 40px;
  display: block;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
  font-size: 2.3em;
}

.sideNav .sub-item
{
  font-size: 1.7em !important;
  margin-left: 60px;
}



.sideNav a:hover {
  color: #99a0da;
}

.sideNav .closeBtn
{
  position: absolute;
  right: 9px;
  font-size: 27px;
  top: -5px;
}

.dropdown
{
  position: relative;
  display: flex;
}

.dropdown ul
{
  min-width: 300px;
  font-size: 16pt;
  text-align: justify;
  position: absolute;
  background-color: #383C58;
  padding: 0;
  box-shadow: 0px 0px 23px rgba(0,0,0,0.25);
  border-radius: 10px;
  display: none;
  margin-top: 10px;
}

.navLinks ul > li:hover > div.dropdown ul
{
  display: block;
  transition: 0.2s !important;
}


.dropdown ul li
{
  width: 100%;
  text-align: justify;
  border-radius: 10px;
}

.dropdown ul li a
{
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.dropdown a:hover
{
  color: #c7ccfa;
}

.dropdown ul li:hover
{
  background-color: #272B3F;
}

main.page-main
{
  display: flex;
  width: 90%;
  background-color: rgba(11, 11, 11, 0.5);
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  color: #fff;
  border-radius: 10px;
  clear: both;
  cursor: default;
  padding: 10px;
  flex-wrap: wrap;
  min-height: 510px;
  margin: 0 auto;
}

main:hover.page-main
{
    background-color: rgba(23, 25, 30, 0.5);
    transition: 0.5s;
}


main
{
    display: flex;
    width: 100%;
    background-color: rgba(22,22,22, 0.5);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    color: #fff;
    border-radius: 10px;
    clear: both;
    cursor: default;
    padding: 10px;
    flex-wrap: wrap;
    min-height: 510px;
}

aside
{
    display: flex;
    width: 100%;
    background-color: rgba(22,22,22, 0.5); 
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 2em;
    clear: both;
    cursor: default;
    padding: 10px;
    flex-wrap: wrap;
}


main:hover, aside:hover
{
    background-color: rgba(29,29,29, 0.5);
    transition: 0.5s;
}

header .title, .page-content .title
{
  width: auto;
  vertical-align: middle;
  color: #fff;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 6em;
  margin-top: 0.5em;
  border: 3px solid #fff;
  padding: 0px 5px 0px 5px;
  background: rgba(22,22,22,0.8);
  border-radius: 10px;
}

header
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
    margin-bottom: 3em;
}


.page-content
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
    margin-bottom: 3em;
}

.page-content ::before
{
    content: "";
    background-image: url('../img/tlo2.jpg') !important;
    position: absolute;
    background-position:  center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header::before
{
    content: "";
    background-image: url('../img/tlo.jpg');
    position: absolute;
    background-position: top center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header img
{
    opacity: 20%;
}


  h1
  {
    color: #fff;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
    color: #99a0da;
    font-weight: 500;
  }

  .typing
  {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40pt;
    font-weight: normal;
    text-transform: uppercase;
    color: #99a0da;
  }
  
  .typing {
    margin-right: 8px;    
  }

  article.page-article
  {
    width: 90%  !important;
  }

  main article
  {
    clear: both;
    width: 60%;
    text-align: justify;
    font-size: 16pt;
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 0px;
    justify-content: center;
  }

  article
  {
    clear: both;
    width: 60%;
    text-align: justify;
    font-size: 16pt;
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 50px;
    justify-content: center;
  }

small
  {
    font-size: 16pt; 
    color: #99a0da;
  }

.bottom-right-navbar
  {
    display: flex;
    font-size: 1.5em;
    justify-content: right !important;
    text-align: right;
    float: left;
    height: max-content;
    color: #9b9b9b;
    align-self: flex-end;
    width: 50%;
  }

  .bottom-right-navbar a
  {
    text-decoration: none;
    color: #9b9b9b !important;
  }

  .bottom-right-navbar a:hover
  {
    text-decoration: none;
    color: #c2c2c2 !important;
  }

  .bottom-left-navbar
  {
    display: flex;
    font-size: 1.5em;
    justify-content: left;
    text-align: left;
    height: max-content;
    color: #9b9b9b;
    align-self: flex-end;
    float: left;
    width: 50%;
  }

  .bottom-left-navbar a
  {
    text-decoration: none;
    color: #9b9b9b !important;
  }

  .bottom-left-navbar a:hover
  {
    text-decoration: none;
    color: #c2c2c2 !important;
  }



footer
{
  width: 100%;
  text-align: center;
  color: #acacac;
  display: flex;
  align-content: center;
  justify-content: center;
}

span.term
{
  color: #c7ccfa;
}

a, a:visited, a:active
{
  color: #c7ccfa;
  text-decoration: none;
}

main a:hover
{
  color: #717597;
  transition: 0.5s;
}

main article h3
{
  color: #fff;
  text-align: justify;
  font-size: 1em;
  font-family: 'Antonio', sans-serif;
  font-weight: 500;
}

main article h4
{
  color: #99a0da;
  font-size: 1.2em;
  font-family: 'Antonio', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 2px 0px 6px #353639;
}

img.pics
{
  border: 3px solid #c7ccfa;
  margin: auto !important;
  text-align: center !important;
  border-radius: 5px;
  width: 50%;
  height: auto;
  display: flex;
}

img.pics::after
{
  content: 'Kliknij, aby powiększyć!';
}

small.hint
{
  justify-content: center; 
  font-style: italic; 
  display: flex;
  font-size: 0.75em;
}