body
{
    background-color: #161616;
    margin: 0 !important;
    font-family: 'Barlow Condensed', sans-serif;
}

nav
{
    background-color: #242935;
    width: 100%;
    top: 0;
    position: sticky;
    text-align: center;
    color: #fff;
    font-size: 20pt;
    font-family: 'Saira Condensed', sans-serif;
    display: flex;
    justify-content: center;
    max-height: 60px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav li
{
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    padding: 10px;
    position: relative;
}

nav a, nav a:active, nav a:visited
{
    text-decoration: none;
    color: #fff;
    max-height: 60px;
    position: relative;
}

nav li:hover
{
    background-color: #50596d;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

.menuBtn 
{
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
  display: none;
}


/* responsive navbar */

@media screen and (max-width: 600px) {
  .menuBtn {
    display: flex;
    margin-right: 20px;
  }

  .menuBtn:hover
  {
    color: #99a0da;
    transition: 0.5s;
  }

  nav {
    justify-content: right;
  }

  nav .navLinks {
    display: none;
  }

  .sideNav {
    display: block !important;
  }

  main article, article
  {
    width: 90%  !important;
  }

  header .title
  {
    font-size: 2.5em !important;
  }
} 

.sideNav
{
  height: 100%;
  position: fixed;
  top: 0;
  right: 0%;
  background-color: rgba(29,32,41, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
  display: block;
  padding-top: 60px;
  display: none;
}

.sideNav a {
  padding: 8px 8px 8px 40px;
  display: block;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
  font-size: 2.3em;
}

.sideNav .sub-item
{
  font-size: 1.7em !important;
  margin-left: 60px;
}



.sideNav a:hover {
  color: #99a0da;
}

.sideNav .closeBtn
{
  position: absolute;
  right: 9px;
  font-size: 27px;
  top: -5px;
}



main
{
    display: flex;
    width: 100%;
    background-color: rgba(22,22,22, 0.5);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    color: #fff;
    border-radius: 10px;
    clear: both;
    cursor: default;
    padding: 10px;
    flex-wrap: wrap;
    min-height: 510px;
}

aside
{
    display: flex;
    width: 100%;
    background-color: rgba(22,22,22, 0.5); 
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 2em;
    clear: both;
    cursor: default;
    padding: 10px;
    flex-wrap: wrap;
}


main:hover, aside:hover
{
    background-color: rgba(29,29,29, 0.5);
    transition: 0.5s;
}

header .title
{
  width: auto;
  vertical-align: middle;
  color: #fff;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 6em;
  margin-top: 0.5em;
  border: 3px solid #fff;
  padding: 0px 5px 0px 5px;
  background: rgba(22,22,22,0.8);
  border-radius: 10px;
}

header
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
    margin-bottom: 3em;
}

header::before
{
    content: "";
    background-image: url('../img/tlo.jpg');
    position: absolute;
    background-position: top center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header img
{
    opacity: 20%;
}


  h1
  {
    color: #fff;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
    color: #99a0da;
    font-weight: 500;
  }

  .typing
  {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40pt;
    font-weight: normal;
    text-transform: uppercase;
    color: #99a0da;
  }
  
  .typing {
    margin-right: 8px;    
  }

  main article
  {
    clear: both;
    width: 60%;
    text-align: justify;
    font-size: 16pt;
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 0px;
    justify-content: center;
  }

  article
  {
    clear: both;
    width: 60%;
    text-align: justify;
    font-size: 16pt;
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 50px;
    justify-content: center;
  }

small
  {
    font-size: 16pt; 
    color: #99a0da;
  }


footer
{
  width: 100%;
  text-align: center;
  color: #acacac;
  display: flex;
  align-content: center;
  justify-content: center;
}